<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                'header',
                                                'sidebar',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách tài khoản</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/adminlte/pagination/simplePagination.css}">
        <link rel="stylesheet" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <style>
            #mapContainer {
                width: 100%;
                height: 500px;
            }
        </style>
    </th:block>

</head>
<body>
<section role="main" class="content-body" id="main-content">
    <header class="page-header">
        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/admin">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li><span>Danh sách Shipper</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i
                    class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <section class="card">
        <header class="card-header">
            <div class="card-actions">
                <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
            <h2 class="card-title">Vị trí của shipper </h2>
        </header>

        <div id="mapContainer"></div>
    </section>

</section>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/adminlte/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/js/table.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


    <!--    <script src="https://www.gstatic.com/firebasejs/10.14.0/firebase-app.js"></script>-->
    <!--    <script src="https://www.gstatic.com/firebasejs/10.14.0/firebase-database.js"></script>-->


    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-layers.js"
            type="text/javascript" charset="utf-8"></script>

    <script th:inline="javascript">
        const shipperId = /*[[${shipperId}]]*/ 0;
        let fullName, email, phone, address, page;

        $(function () {
            let vars = parseUrl();
            fullName = vars["fullName"] || ""
            email = vars["email"] || ""
            phone = vars["phone"] || ""
            address = vars["address"] || ""
            page = vars["page"] || "1"
            role = vars["role"] || "";

            $('#fullName').val(fullName)
            $('#email').val(email)
            $('#phone').val(phone)
            $('#address').val(address)
            $('#page').val(page)
            $('#role').val(role);

            pagination([[${totalPages}]], [[${currentPage}]]);
        });

        $("#delete-shipper").on("click",function (){
            let id = $(this).data('id');
            console.log("id:===", id);
            swal({
                title: 'Bạn chắc chắn muốn xóa!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonText: "Không",
                confirmButtonText: "Có",
            }).then(function (rs){
                if (rs.value){
                    $.ajax({
                        url:"/admin/shipper/"+ id,
                        type: "DELETE",
                        success: function (data){
                            console.log(data);
                            toastr.success("Xóa danh mục thành công!");
                            setTimeout(() => location.reload(), 500);
                        },
                        error: function (error){
                            console.log("Error:", error);
                            toastr.warning(error.responseJSON.message);
                        }
                    })
                }
            })
        })

    </script>
    <script type="module">

        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-app.js";
        import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-database.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyAG9PFA7FbvN_5l5y7RT0C4Qne3aBeOovc",
            authDomain: "healthy-basis-387202.firebaseapp.com",
            databaseURL: "https://healthy-basis-387202-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "healthy-basis-387202",
            storageBucket: "healthy-basis-387202.appspot.com",
            messagingSenderId: "3157271122",
            appId: "1:3157271122:web:c1b894891f4662e092758b"
        };

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        let shipperMarker;
        // Lắng nghe thay đổi vị trí trong Firebase cho shipper_123
        let map; // Biến để lưu trữ bản đồ

        // Khởi tạo bản đồ
        function initMap() {
            var platform = new H.service.Platform({
                'apikey': 'qFy-ilOD1ydW2bhmTivV1w4podIU3YENHaBf3OoA03w'
            });

            // Tạo các layers mặc định
            var defaultLayers = platform.createDefaultLayers();

            // Tạo bản đồ
            map = new H.Map(
                document.getElementById('mapContainer'), // Đảm bảo bạn có một phần tử HTML với ID này
                defaultLayers.vector.normal.map,
                {
                    zoom: 10,
                    center: { lat: 52.530932, lng: 13.384915 } // Vị trí mặc định
                }
            );

            // Tạo UI cho bản đồ
            var ui = H.ui.UI.createDefault(map, defaultLayers);

            // Tạo điều khiển kéo thả cho bản đồ
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

            // Bắt đầu lắng nghe vị trí shipper
            listenToShipperLocation();
        }
        function listenToShipperLocation() {
            console.log(database);
            const shipperRef = ref(database, 'shippers/'+shipperId);
            console.log(shipperId);
            onValue(shipperRef, (snapshot) => {
                const shipperData = snapshot.val();
                console.log(shipperData);
                if (shipperData) {
                    const lat = shipperData.latitude;  // Lấy latitude từ Firebase
                    const lng = shipperData.longitude;  // Lấy longitude từ Firebase

                    // Cập nhật vị trí marker
                    if (!shipperMarker) {
                        // Nếu marker chưa tồn tại, tạo mới
                        shipperMarker = new H.map.Marker({ lat: lat, lng: lng });
                        map.addObject(shipperMarker);
                    } else {
                        // Nếu marker đã tồn tại, cập nhật vị trí
                        shipperMarker.setGeometry(new H.geo.Point(lat, lng));
                    }
                    map.setCenter({ lat: lat, lng: lng });
                }
            });
        }
        initMap();
    </script>
</th:block>

</body>
</html>